name: Create marketplace submission

on:
  pull_request:
    types: [closed]

env:
  GH_READ_PACKAGES_TOKEN: ${{ secrets.GH_READ_PACKAGES_TOKEN }}

jobs:
  create-marketplace-submission:
    name: Create marketplace submission
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      - name: Checkout private actions repo
        uses: actions/checkout@v4
        with:
          repository: devrev/github-actions
          ref: create-marketplace-submission-v0.1.12
          token: ${{ secrets.GH_SVC_FGT }}
          path: ./private-actions
      - name: Run marketplace submission action
        uses: ./private-actions/create-marketplace-submission
        with:
          code_ref_url: ${{ github.event.pull_request.url }}
          github_token: ${{ secrets.GH_SVC_FGT }}
          read_actions_token: ${{ secrets.GH_SVC_FGT }}
        env:
          DEVREV_PAT: ${{ secrets.DEVREV_DEV_PAT }}
