name: Promote marketplace submission

on:
  issue_comment:
    types: [created]

env:
  GH_READ_PACKAGES_TOKEN: ${{ secrets.GH_READ_PACKAGES_TOKEN }}

jobs:
  promote-marketplace-submission-qa:
    name: Promote marketplace submission in QA
    if: github.event.comment.body == '/promote qa' && github.event.issue.pull_request.merged_at
    runs-on: ubuntu-latest
    steps:
      - name: Promote marketplace submission in QA
        uses: devrev/github-actions/create-marketplace-submission@create-marketplace-submission-v0.1.12
        with:
          code_ref_url: ${{ github.event.issue.pull_request.url }}
          github_token: ${{ secrets.GH_SVC_FGT }}
          read_actions_token: ${{ secrets.GH_SVC_FGT }}
        env:
          DEVREV_PAT: ${{ secrets.DEVREV_QA_PAT }}

  promote-marketplace-submission-prod:
    name: Promote marketplace submission in PROD
    if: github.event.comment.body == '/promote prod' && github.event.issue.pull_request.merged_at
    runs-on: ubuntu-latest
    steps:
      - name: Promote marketplace submission in PROD
        uses: devrev/github-actions/create-marketplace-submission@create-marketplace-submission-v0.1.12
        with:
          code_ref_url: ${{ github.event.issue.pull_request.url }}
          github_token: ${{ secrets.GH_SVC_FGT }}
          read_actions_token: ${{ secrets.GH_SVC_FGT }}
        env:
          DEVREV_PAT: ${{ secrets.DEVREV_PROD_PAT }}
